.expenses-form {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  justify-content: space-around;
  padding: 10px;
}

.expenses-form select {
  font-size: 1rem;
  height: 30px;
  padding: 3px;
}

.expenses-form label {
  margin: 10px;
}

.value-input {
  font-size: 1rem;
  width: 100px;
}

.submit-btn {
  background-color: lightcoral;
  border-radius: 5px;
  border-style: none;
  font-size: 1.1rem;
  height: 40px;
  margin: 10px;
  width: 180px;
}
